.c-branding {
  height: rem(40px);
  display: flex;
  align-items: center;

  @include mq(tablet) {
    height: rem(86.4px);
  }

  .custom-logo-link, .custom-logo-link img {
    height: rem(40px);

    @include mq(tablet) {
      height: rem(65px);
    }

    @include mq(desktop) {
      height: rem(86.4px);
    }
  }


  .custom-logo-link {
    display: flex;
    align-items: center;
  }
}

.c-branding-wrapper {
  display: flex;
  align-items: center;
  height: rem(40px);

  @include mq(tablet) {
    height: rem(65px);
  }

  @include mq(desktop) {
    height: rem(86.4px);
  }
}

.s-branding {

  .custom-logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50px;
  }
}

.c-branding__title {
  margin: 0;
  font-size: rem(18px);
  line-height: 1.29;
  font-weight: 600;
  color: $knowpress_primary_text_color;
  white-space: nowrap;
}


.c-branding__title__link {
  text-decoration: none;
  color: inherit;
}
