.c-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  transition: $knowpress_global_transition;
  padding: rem(16px 20px);

  @include mq(desktop) {
    border-bottom: rem(1px) solid $knowpress_border_color;
    display: block;
    padding: 0;
  }

  &.is-search-open {
    background-color: $knowpress_card_bg_color;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
  }
}

.c-header__search-box {
  display: none;
  width: 100%;
  background-color: $knowpress_card_bg_color;
  padding: rem(24px);
  position: fixed;
  left: 0;
  top: rem(55px);
  z-index: 4;
}


.c-header__nav__toggle {

  @include mq(desktop) {
    display: none;
  }
}

.c-header__menu {
  z-index: 1;
  position: relative;

  .o-container {
    padding: 0;

    @include mq(desktop) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  @include mq(desktop) {
    width: 100%;
  }
}

.c-header__branding {
  position: relative;
  z-index: 1;

  @include mq(desktop) {
    display: none;
  }
}

.c-header__search-toggle, .c-header__nav__toggle {
  background-color: transparent;
  padding: 0;
  width: rem(20px);
  height: rem(20px);

  &:hover {
    background-color: transparent;
  }

  svg {
    fill: $knowpress_primary_text_color;
  }
}

.c-header__nav, .c-header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;

  @include mq($from: desktop, $until: wide) {
    transform: translateX(20%);
  }

  @include mq(desktop) {
    display: block;
  }
}

.c-header__search {

  @include mq(desktop) {
    display: none;
  }
}

.c-header__custom-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
}

.c-header__nav__container {
  position: relative;
  z-index: 3;
  transition: $knowpress_global_transition;
}

.c-header__search-toggle {

  @include mq(desktop) {
    display: none;
  }

  .c-header__search-toggle__icon--open {
    display: none;
  }

  &.is-open {
    .c-header__search-toggle__icon--close {
      display: none;
    }

    .c-header__search-toggle__icon--open {
      display: block;
    }
  }
}
