.c-post {
  margin-bottom: rem(40px);
}

.c-post__header {
  margin-bottom: rem(12px);
}

.c-post__title {
  margin: 0 0 rem(8px);
}

.c-post__title__link {
  text-decoration: none;
  color: $knowpress_primary_color;

  &:hover {
    color: $knowpress_primary_text_color;
  }
}

.c-post__meta, .c-post__footer {
  font-size: rem(14px);
  color: $knowpress_secondary_text_color;
}

.s-post-meta {

  a {
    color: $knowpress_primary_color;
    text-decoration: none;

    &:hover {
      color: $knowpress_primary_text_color;
    }
  }
}

.c-post__content {
  margin-top: rem(12px);
}

.c-post__content--excerpt {

  p {
    margin: 0;
  }
}

.c-post__footer {
  margin-top: rem(32px);
  display: flex;
  flex-direction: column;
}

.c-post__footer__cat-links {
  margin-right: rem(8px);
  margin-bottom: rem(16px);
}

.c-post__footer__edit-link {
  display: block;
}

.c-post__thumbnail {
  display: block;
  margin-top: rem(16px);
}
