[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: right;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  right: 0;
  left: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  right: 2px;
  left: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  right: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  right: 2px;
  left: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  left: auto;
  right: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  left: auto;
  right: 0;
}

.hs-dummy-scrollbar-size {
  direction: ltr;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  right: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*-------------------------------------------
/* Tools
--------------------------------------------- */
/*-------------------------------------------
# Settings
--------------------------------------------- */
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v3-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin-regular.woff2") format("woff2"), url("../fonts/inter-v3-latin-regular.woff") format("woff"), url("../fonts/inter-v3-latin-regular.ttf") format("truetype"), url("../fonts/inter-v3-latin-regular.svg#Inter") format("svg");
  /* Legacy iOS */ }

/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v3-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin-600.woff2") format("woff2"), url("../fonts/inter-v3-latin-600.woff") format("woff"), url("../fonts/inter-v3-latin-600.ttf") format("truetype"), url("../fonts/inter-v3-latin-600.svg#Inter") format("svg");
  /* Legacy iOS */ }

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.o-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px; }
@media (min-width: 48em) {
  .o-container {
    max-width: 572px; } }
@media (min-width: 64em) {
  .o-container {
    max-width: 572px; } }
@media (min-width: 80em) {
  .o-container {
    max-width: 712px; } }

.o-arrow, .wedocs-caret {
  width: 0;
  height: 0;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  border-top: 0.25rem solid var(--knowpress-primary-text-color);
  z-index: 3;
  transform: translateY(0px); }

.o-overlay {
  background: var(--knowpress-primary-text-color);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  transition: 0.15s; }
.o-overlay.is-hide {
  opacity: 0;
  visibility: hidden; }

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.c-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  transition: 0.15s;
  padding: 1rem 1.25rem; }
@media (min-width: 64em) {
  .c-header {
    border-bottom: 0.0625rem solid var(--knowpress-border-color);
    display: block;
    padding: 0; } }
.c-header.is-search-open {
  background-color: var(--knowpress-card-bg-color);
  position: sticky;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 4; }

.c-header__search-box {
  display: none;
  width: 100%;
  background-color: var(--knowpress-card-bg-color);
  padding: 1.5rem;
  position: fixed;
  right: 0;
  top: 3.4375rem;
  z-index: 4; }

@media (min-width: 64em) {
  .c-header__nav__toggle {
    display: none; } }

.c-header__menu {
  z-index: 1;
  position: relative; }
.c-header__menu .o-container {
  padding: 0; }
@media (min-width: 64em) {
  .c-header__menu .o-container {
    padding-left: 16px;
    padding-right: 16px; } }
@media (min-width: 64em) {
  .c-header__menu {
    width: 100%; } }

.c-header__branding {
  position: relative;
  z-index: 1; }
@media (min-width: 64em) {
  .c-header__branding {
    display: none; } }

.c-header__search-toggle, .c-header__nav__toggle {
  background-color: transparent;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem; }
.c-header__search-toggle:hover, .c-header__nav__toggle:hover {
  background-color: transparent; }
.c-header__search-toggle svg, .c-header__nav__toggle svg {
  fill: var(--knowpress-primary-text-color); }

.c-header__nav, .c-header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative; }
@media (min-width: 64em) and (max-width: 79.99em) {
  .c-header__nav, .c-header__search {
    transform: translateX(-20%); } }
@media (min-width: 64em) {
  .c-header__nav, .c-header__search {
    display: block; } }

@media (min-width: 64em) {
  .c-header__search {
    display: none; } }

.c-header__custom-image {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.c-header__nav__container {
  position: relative;
  z-index: 3;
  transition: 0.15s; }

@media (min-width: 64em) {
  .c-header__search-toggle {
    display: none; } }

.c-header__search-toggle .c-header__search-toggle__icon--open {
  display: none; }

.c-header__search-toggle.is-open .c-header__search-toggle__icon--close {
  display: none; }

.c-header__search-toggle.is-open .c-header__search-toggle__icon--open {
  display: block; }

.c-nav {
  list-style: none;
  padding: 2rem 2rem;
  margin: 0; }
@media (min-width: 64em) {
  .c-nav {
    display: flex;
    padding: 1.875rem 0; } }

.s-nav li {
  margin-bottom: 1.5rem; }
@media (min-width: 64em) {
  .s-nav li {
    margin-bottom: 0;
    margin-left: 2rem; } }

.s-nav a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: var(--knowpress-primary-color);
  transition: 0.15s;
  text-decoration: none; }
.s-nav a:hover {
  color: var(--knowpress-primary-text-color); }

.c-main {
  margin-top: 1.875rem;
  min-height: 65vh; }
@media (min-width: 64em) and (max-width: 79.99em) {
  .c-main {
    transform: translateX(-20%); } }

.content-area .site-main {
  margin-top: 1.875rem; }
@media (min-width: 64em) and (max-width: 79.99em) {
  .content-area .site-main {
    transform: translateX(-20%); } }

.c-post {
  margin-bottom: 2.5rem; }

.c-post__title__link {
  text-decoration: none;
  color: var(--knowpress-primary-color); }
.c-post__title__link:hover {
  color: var(--knowpress-primary-text-color); }

.c-post__meta, .c-post__footer {
  font-size: 0.875rem;
  color: var(--knowpress-secondary-text-color); }

.s-post-meta a {
  color: var(--knowpress-primary-color);
  text-decoration: none; }
.s-post-meta a:hover {
  color: var(--knowpress-primary-text-color); }

.c-post__footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column; }

.c-post__footer__cat-links {
  margin-left: 0.5rem;
  margin-bottom: 1rem; }

.c-post__footer__edit-link {
  display: block; }

.c-post__thumbnail {
  display: block;
  margin-top: 1rem; }

.c-widget {
  margin: 0 0 2rem; }

.c-widget-area {
  width: 100%; }
@media (min-width: 48em) {
  .c-widget-area {
    width: calc(50% - 1rem); }
  .c-widget-area:first-of-type {
    margin-left: 1rem; }
  .c-widget-area:last-of-type {
    margin-right: 1rem; } }

.c-widget__title {
  margin: 0 0 0.75em; }

.s-widget ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.s-widget li {
  margin-bottom: 0.5rem; }

.s-widget a {
  color: var(--knowpress-secondary-text-color);
  text-decoration: none; }
.s-widget a:hover {
  color: var(--knowpress-primary-color); }

.c-search-form {
  position: relative; }

.c-search-form__label {
  display: block;
  width: 100%; }

.c-search-form__label__field {
  background-color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--knowpress-border-color);
  padding: 0.75rem 2.5rem 0.75rem 0.1875rem;
  color: var(--knowpress-primary-text-color);
  width: 100%; }
@media (min-width: 48em) {
  .c-search-form__label__field {
    width: 100%;
    max-width: 100%; } }

.c-search-form__submit {
  border: none;
  background-color: transparent !important;
  width: 1.45rem;
  height: 1.45rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75rem;
  cursor: pointer;
  padding: 0 !important; }
.c-search-form__submit:hover {
  background-color: transparent; }
.c-search-form__submit:hover .c-search-form__submit__icon {
  fill: var(--knowpress-primary-color); }

.c-search-form__submit__icon {
  width: 1.45rem;
  height: 1.45rem;
  fill: var(--knowpress-secondary-text-color);
  transition: 0.15s; }

.c-widget.widget_search .c-search-form__submit__icon, .c-widget.woocommerce.widget_product_search .c-search-form__submit__icon {
  width: 1.25rem;
  height: 1.25rem; }

.c-widget.widget_search .c-search-form__submit, .c-widget.woocommerce.widget_product_search .c-search-form__submit {
  padding-left: 0;
  width: 1.7rem;
  height: 1.7rem; }

@media (min-width: 48em) {
  .c-widget.widget_search .c-search-form__label__field::-moz-placeholder, .c-widget.woocommerce.widget_product_search .c-search-form__label__field::-moz-placeholder {
    font-size: 0.75rem !important; }
  .c-widget.widget_search .c-search-form__label__field:-ms-input-placeholder, .c-widget.woocommerce.widget_product_search .c-search-form__label__field:-ms-input-placeholder {
    font-size: 0.75rem !important; }
  .c-widget.widget_search .c-search-form__label__field::placeholder, .c-widget.woocommerce.widget_product_search .c-search-form__label__field::placeholder {
    font-size: 0.75rem !important; } }

.c-widget .c-search-form .c-search-form__label__field {
  padding: 1rem;
  background-color: #fff;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  font-family: inherit;
  transition: 0.15s;
  width: 100%;
  font-size: 0.75rem; }
@media (min-width: 48em) {
  .c-widget .c-search-form .c-search-form__label__field {
    max-width: 100%; } }

.c-widget .c-search-form .c-search-form__submit {
  border: none;
  background-color: transparent;
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  right: unset;
  cursor: pointer;
  padding-right: 0; }
@media (min-width: 64em) {
  .c-widget .c-search-form .c-search-form__submit {
    left: 0;
    width: 3rem;
    height: 3rem; } }
.c-widget .c-search-form .c-search-form__submit:hover .c-search-form__submit__icon {
  fill: var(--knowpress-primary-color); }

.rtl .c-search-form__submit {
  left: 0.5rem !important;
  right: unset;
  padding-left: 0.5rem !important;
  padding-right: 0; }

.rtl .c-search-form__label__field {
  padding: 0.75rem 0.1875rem 0.75rem 2.5rem; }

.c-comments {
  width: 100%;
  margin-top: 40px; }
@media (min-width: 48em) {
  .c-comments {
    margin-top: 48px; } }
.c-comments .form-submit {
  margin: 0; }
.c-comments .nav-links {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap; }
.c-comments .comment-list {
  margin: 0;
  padding: 0; }

.comments-title {
  margin: 0 0 28px;
  line-height: 1.75; }

.comments-header {
  margin-bottom: 48px; }
@media (min-width: 64em) {
  .comments-header {
    margin: 0 0 64px; } }

.comment-content {
  flex-grow: 1;
  max-width: 100%; }
@media (min-width: 64em) {
  .comment-content {
    max-width: calc(100% - 3rem); } }

.comment-content a {
  word-wrap: break-word;
  color: var(--knowpress-primary-text-color);
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  letter-spacing: 0.05em; }

.bypostauthor {
  display: block; }

.c-comments .comment-list > li, .c-comments .comment-list > .comment {
  padding: 24px 0;
  margin: 0;
  border-bottom: 1px solid #d4d4d4; }
.c-comments .comment-list > li:last-of-type, .c-comments .comment-list > .comment:last-of-type {
  border-bottom: 0; }

.comment {
  list-style: none;
  padding: 0;
  margin: 24px 0; }
.comment .comment-respond {
  margin-top: 40px; }
.comment .comment-respond .comment-form {
  margin-bottom: 24px; }
.comment > li > ol.children {
  border-bottom: 0; }
.comment .comment-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px; }
.comment .comment-avatar {
  margin-left: 1rem;
  min-width: 2rem;
  min-height: 2rem;
  width: 2rem;
  height: 2rem; }
@media (min-width: 64em) {
  .comment .comment-avatar {
    width: 3.4375rem;
    height: 3.4375rem;
    min-width: 3.4375rem;
    min-height: 3.4375rem; } }
.comment .comment-header .time, .comment .comment-header .time * {
  font-size: 0.8125rem;
  color: var(--knowpress-primary-text-color);
  font-weight: var(--heading-typography-variant) !important; }
.comment .comment-info {
  display: inline-block;
  width: 70%;
  vertical-align: middle; }
.comment .avatar {
  vertical-align: middle;
  border-radius: 0.25rem; }
.comment .comment {
  padding: 0.5rem 0.25rem 0.25rem;
  margin: 1.25rem 0 0; }
.comment .comment-meta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
@media (min-width: 64em) {
  .comment .comment-meta {
    flex-direction: row;
    flex-wrap: nowrap; } }
.comment .comment-metadata a * {
  font-size: 0.813em;
  text-decoration: none;
  font-weight: 400; }
.comment .comment-metadata a {
  text-decoration: none;
  color: var(--knowpress-secondary-text-color); }
.comment .comment-metadata a:hover {
  color: var(--knowpress-primary-color); }
.comment:last-child {
  margin-bottom: 0.625rem; }
.comment .comment-author {
  margin: 0 0 0 1rem; }
@media (min-width: 64em) {
  .comment .comment-author {
    margin: 0 0 0 1.5rem; } }
.comment .comment-author, .comment .comment-author a {
  font-size: 0.875rem;
  margin-top: 0;
  text-decoration: none;
  color: var(--knowpress-primary-text-color); }
@media (min-width: 64em) {
  .comment .comment-author, .comment .comment-author a {
    font-size: 1rem; } }

ol.children {
  list-style: none;
  margin-top: 15px;
  padding: 0 0.5rem 0 0; }
@media (min-width: 64em) {
  ol.children {
    margin-top: 15px;
    padding-right: 30px; } }

.comment-navigation {
  margin-bottom: 40px; }

.comments > .comment:first-child {
  border-top: 0; }

.comment-content p, .screen-reader-text.says {
  font-weight: 400; }

.comment-content p a {
  font-weight: var(--text-typography-variant); }

.comment-content a {
  font-size: 0.8125rem;
  line-height: 1.5; }

.comment-content__reply {
  display: flex;
  justify-content: flex-end; }

.comment-reply-link {
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.6875rem;
  text-align: center;
  transition: 0.25s;
  text-decoration: none;
  margin-right: auto;
  color: var(--knowpress-primary-text-color); }
.comment-reply-link:hover {
  color: var(--knowpress-primary-color); }

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px; }
@media (min-width: 64em) {
  .comment-form {
    margin-bottom: 96px; } }

.comment-form-author, .comment-form-email, .comment-form-url {
  width: 100%;
  padding: 0;
  margin-top: 0.75rem; }
.comment-form-author label, .comment-form-email label, .comment-form-url label {
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-weight: var(--heading-typography-variant);
  color: var(--knowpress-primary-text-color); }
.comment-form-author input, .comment-form-email input, .comment-form-url input {
  max-width: 100%; }
@media (min-width: 64em) {
  .comment-form-author, .comment-form-email, .comment-form-url {
    width: 32%; } }

.comment-form-rating {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: var(--knowpress-primary-text-color); }
.comment-form-rating label {
  display: block;
  width: 100%; }
.comment-form-rating .stars {
  display: inline-block;
  margin: 0.625rem 0 0 !important;
  font-size: 1rem; }
.comment-form-rating .stars a {
  color: var(--knowpress-primary-text-color); }

.comment-form-cookies {
  display: flex;
  align-items: flex-start;
  font-size: 14px; }
.comment-form-cookies input {
  margin: 5px 0 0 10px; }

.comment-form-comment {
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: var(--heading-typography-variant);
  color: var(--knowpress-primary-text-color); }
.comment-form-comment label {
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-weight: var(--heading-typography-variant);
  color: var(--knowpress-primary-text-color); }
@media (min-width: 64em) {
  .comment-form-comment {
    margin-top: 24px; } }
.comment-form-comment textarea {
  max-height: 100px;
  resize: vertical;
  line-height: 1.4; }

.comment-form .form-submit button {
  border: 1px solid var(--knowpress-primary-text-color);
  color: #fff;
  background-color: var(--knowpress-primary-text-color);
  flex-grow: 1;
  text-align: center;
  padding: 0.90625rem 2rem;
  border-radius: 0.25rem;
  transition: 0.15s;
  font-family: inherit; }
.comment-form .form-submit button:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: var(--knowpress-primary-text-color);
  color: var(--knowpress-primary-text-color); }

.comment-form-cookies-consent {
  display: flex;
  align-items: flex-start;
  margin: 0; }
.comment-form-cookies-consent input {
  margin-top: 0.4em;
  margin-left: 0.5em; }
.comment-form-cookies-consent label {
  color: var(--knowpress-primary-text-color);
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  font-weight: var(--heading-typography-variant); }

#cancel-comment-reply-link {
  font-size: 0.75rem;
  margin-right: 2em; }

.comment-edit-link {
  margin-left: 20px;
  font-size: 0.8125rem;
  margin-top: 0;
  text-decoration: none;
  color: var(--knowpress-primary-text-color) !important; }
.comment-edit-link:hover {
  color: var(--knowpress-primary-color); }

.comment-reply-title {
  font-size: 1.25em;
  margin-bottom: 0.75em; }

.comment-notes {
  font-size: 0.8125rem;
  font-weight: var(--text-typography-variant);
  color: var(--knowpress-primary-text-color);
  margin-top: 0; }

.form-submit {
  width: 100%; }
.form-submit input {
  font-weight: var(--heading-typography-variant);
  padding: 10px 24px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.15s; }
.form-submit input:hover {
  background-color: #2B2B2B; }

.no-comments {
  margin-top: 24px;
  font-weight: var(--heading-typography-variant);
  text-align: center; }

.logged-in-as a {
  color: var(--knowpress-primary-color);
  text-decoration: none; }
.logged-in-as a:hover {
  color: var(--knowpress-primary-text-color); }

.logged-in-as a:first-child {
  color: var(--knowpress-primary-text-color); }
.logged-in-as a:first-child:hover {
  color: var(--knowpress-primary-color); }

.woocommerce .comment-respond .form-submit {
  margin-top: 1.5rem !important; }

.rtl .comment-avatar {
  margin: 0 1rem 0 0; }
.rtl .comment-avatar img {
  margin: 0; }

.rtl .comment-author {
  margin: 0 1rem 0 0; }
@media (min-width: 64em) {
  .rtl .comment-author {
    margin: 0 1.5rem 0 0; } }

.rtl .comment-reply-link {
  margin: 0 0 0 auto; }

.rtl ol.children {
  padding-right: 0;
  margin-right: 0; }

.rtl .comment .comment {
  padding: 0;
  margin: 2rem 0 0 0; }

.rtl .comment-form-cookies-consent input {
  margin-left: 0;
  margin-right: 0.5rem; }

.comment-content__comment {
  font-size: 0.8125rem;
  color: var(--knowpress-primary-text-color); }

.comments-area > .comment-list {
  padding: 0; }

.comments-area .comment-form-comment textarea {
  width: 100%; }

.comments-area .submit {
  font-size: 0.8125rem;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  background: var(--knowpress-primary-color);
  color: #fff;
  box-sizing: border-box;
  border-radius: 0.25rem;
  transition: 0.15s;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: 500;
  border: none; }
.comments-area .submit:hover {
  background-color: var(--knowpress-primary-color); }

.comments-area .comment-list {
  list-style: none; }
.comments-area .comment-list ul, .comments-area .comment-list ol {
  list-style: none; }

#cancel-comment-reply-link {
  color: var(--knowpress-primary-color);
  text-decoration: none; }
#cancel-comment-reply-link:hover {
  color: var(--knowpress-primary-text-color); }

.c-sidebar {
  position: absolute;
  height: 100vh;
  padding: 0 0 1.5rem 0;
  width: 80%;
  right: -100%;
  top: 0;
  max-width: 25rem;
  background-color: var(--knowpress-sidebar-color);
  z-index: 5;
  display: none; }
@media (min-width: 64em) {
  .c-sidebar {
    right: 0;
    top: 0;
    background-color: transparent;
    display: block;
    width: 28%;
    padding: 2rem 1rem 2.5rem 0.5rem; } }
@media (min-width: 80em) {
  .c-sidebar {
    width: 22%;
    padding: 2rem 2.375rem 2.5rem 0rem; } }

.admin-bar .c-sidebar {
  top: 32px; }

.c-branding--documentation {
  display: none;
  position: fixed;
  background: linear-gradient(-270deg, rgba(245, 247, 249, 0.85) 0%, rgba(245, 247, 249, 0) 12.73%), #FFFFFF;
  background-color: var(--knowpress-sidebar-color) !important;
  right: -100%;
  top: 0; }
@media (min-width: 64em) {
  .c-branding--documentation {
    right: 0;
    display: block; } }

.c-sidebar__close {
  margin-top: 24px;
  position: initial;
  top: -1.5rem;
  background-color: transparent;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.25rem; }
@media (min-width: 64em) {
  .c-sidebar__close {
    display: none; } }
.c-sidebar__close:hover {
  background-color: transparent; }

.c-sidebar__close__icon {
  fill: var(--knowpress-primary-text-color); }

.rtl .c-sidebar__close__icon {
  transform: rotate(-180deg) !important; }

.c-sidebar__docs {
  margin-top: 1rem;
  padding: 0 2rem 0 0;
  border-bottom: 1px solid var(--knowpress-border-color); }
@media (min-width: 64em) {
  .c-sidebar__docs {
    padding: 0;
    margin-top: 2rem;
    border-bottom: 0; } }

.c-sidebar__search {
  display: none; }
@media (min-width: 64em) {
  .c-sidebar__search {
    display: block; } }

.c-sidebar .simplebar-scrollbar::before {
  width: 0.375rem !important;
  background-color: var(--knowpress-border-color) !important; }

.c-sidebar .simplebar-scrollbar.simplebar-visible::before {
  opacity: 1 !important; }

.c-sidebar__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1.75rem; }
@media (min-width: 64em) {
  .c-sidebar__main {
    padding-left: 3rem;
    margin-top: 4rem; } }

.c-sidebar__credit {
  margin-top: auto;
  font-size: 0.75rem;
  padding-top: 0.5rem; }

.s-branding .custom-logo {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 50px; }

.c-branding__title {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.29;
  font-weight: 600;
  color: var(--knowpress-primary-text-color);
  white-space: nowrap; }

.c-branding__title__link {
  text-decoration: none;
  color: inherit; }

.c-card {
  padding: 1rem;
  border: 1px solid var(--knowpress-border-color);
  position: relative;
  transition: 0.15s; }
@media (min-width: 48em) {
  .c-card {
    padding: 1.25rem 1.25rem 1rem; } }
.c-card:hover, .c-card:focus {
  background-color: var(--knowpress-card-bg-color);
  border-color: var(--knowpress-card-bg-color) !important; }

.c-card__link {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.c-card__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 0;
  color: var(--knowpress-primary-color); }

.s-card-main p {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin: 1rem 0; }

.s-card-main ul.c-card__list {
  margin: 1rem 0 !important;
  padding-right: 1rem !important; }

.s-card-main li {
  margin-bottom: 0.25rem !important; }
.s-card-main li a {
  color: var(--knowpress-primary-text-color);
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.3125rem; }
.s-card-main li a:hover {
  color: var(--knowpress-primary-color); }

.c-card__main--has-link {
  position: relative;
  z-index: 2; }

.c-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.c-card__arrow {
  fill: var(--knowpress-primary-text-color); }

.c-card__count {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  color: var(--knowpress-secondary-text-color); }

.c-card__icon {
  height: 1.5625rem; }

.rtl .c-card__icon {
  transform: rotate(-180deg); }

.c-docs {
  position: relative; }

.s-docs article a.wedocs-print-article {
  position: absolute;
  left: 0;
  top: 0;
  color: #777; }

.s-docs article a.wedocs-print-article:hover {
  color: #555; }

.c-doc__footer {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem 0; }
@media (min-width: 48em) {
  .c-doc__footer {
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 0; } }

.c-doc__footer__link {
  color: var(--knowpress-primary-color);
  text-decoration: none; }
.c-doc__footer__link:hover {
  color: var(--knowpress-secondary-text-color); }

.c-doc__print {
  color: var(--knowpress-secondary-text-color) !important;
  text-decoration: none;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  background-color: var(--knowpress-card-bg-color);
  padding: 0.375rem;
  border-radius: 0.25rem; }
@media (min-width: 48em) {
  .c-doc__print {
    background-color: transparent; } }
.c-doc__print span {
  display: none; }
@media (min-width: 48em) {
  .c-doc__print span {
    display: block; } }
.c-doc__print i {
  font-size: 1.2rem; }
@media (min-width: 48em) {
  .c-doc__print i {
    margin-left: 0.25rem; } }
.c-doc__print:hover {
  color: var(--knowpress-primary-color) !important; }

.c-docs-grid.wedocs-shortcode-wrap ul.wedocs-docs-list {
  display: flex;
  flex-direction: column; }
@media (min-width: 64em) {
  .c-docs-grid.wedocs-shortcode-wrap ul.wedocs-docs-list {
    display: block; } }
.c-docs-grid.wedocs-shortcode-wrap ul.wedocs-docs-list li.wedocs-docs-single {
  width: 100%;
  margin-left: 0; }
@media (min-width: 64em) {
  .c-docs-grid.wedocs-shortcode-wrap ul.wedocs-docs-list li.wedocs-docs-single {
    width: 48.5%; } }

@media (min-width: 64em) {
  .c-breadcrumb {
    padding-left: 4rem; } }

.s-breadcrumb ol.wedocs-breadcrumb {
  list-style: none;
  margin-right: 0;
  padding-right: 0;
  padding-left: 2.25rem;
  margin-bottom: 1.875rem;
  margin-top: 0; }
@media (min-width: 64em) {
  .s-breadcrumb ol.wedocs-breadcrumb {
    padding-left: 0; } }

.s-breadcrumb ol.wedocs-breadcrumb li {
  display: inline;
  font-size: 0.875rem;
  line-height: 1.5625rem; }
.s-breadcrumb ol.wedocs-breadcrumb li span.current {
  color: var(--knowpress-secondary-text-color); }

.s-breadcrumb ol.wedocs-breadcrumb li.delimiter {
  color: var(--knowpress-primary-text-color);
  margin: 0 2px; }

.s-breadcrumb ol.wedocs-breadcrumb a {
  text-decoration: none;
  color: var(--knowpress-primary-text-color); }
.s-breadcrumb ol.wedocs-breadcrumb a:hover {
  color: var(--knowpress-primary-color); }

.s-content a {
  color: var(--knowpress-primary-color); }
.s-content a:hover {
  color: var(--knowpress-secondary-text-color); }

.s-post-nav .wedocs-doc-nav {
  padding: 0;
  border: 0;
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap; }
@media (min-width: 36em) {
  .s-post-nav .wedocs-doc-nav {
    flex-wrap: nowrap; } }
.s-post-nav .wedocs-doc-nav span {
  width: 100%;
  margin-bottom: 1rem; }
@media (min-width: 36em) {
  .s-post-nav .wedocs-doc-nav span {
    width: calc(50% - 0.5rem); }
  .s-post-nav .wedocs-doc-nav span:first-of-type {
    margin-left: 0.5rem; }
  .s-post-nav .wedocs-doc-nav span:last-of-type {
    margin-right: 0.5rem; } }
.s-post-nav .wedocs-doc-nav span.nav-next:first-of-type {
  margin-right: auto;
  margin-left: 0; }
.s-post-nav .wedocs-doc-nav span a {
  padding: 1rem 0.625rem;
  border: 1px solid var(--knowpress-border-color);
  transition: 0.15s;
  display: block;
  color: var(--knowpress-primary-text-color);
  text-decoration: none; }
@media (min-width: 48em) {
  .s-post-nav .wedocs-doc-nav span a {
    padding: 1.25rem; } }
.s-post-nav .wedocs-doc-nav span a:hover, .s-post-nav .wedocs-doc-nav span a:focus {
  color: var(--knowpress-secondary-text-color);
  background-color: var(--knowpress-card-bg-color);
  border-color: var(--knowpress-card-bg-color) !important; }

.c-feedback__main {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  justify-content: center; }
@media (min-width: 36em) {
  .c-feedback__main {
    margin-top: 0; } }
.c-feedback__main p {
  margin: 0 0 0 0.75rem; }

.s-feedback .wedocs-feedback-wrap {
  padding: 1rem;
  border: 1px solid var(--knowpress-border-color);
  margin: 0;
  font-size: 0.8125rem;
  flex-direction: column; }
@media (min-width: 36em) {
  .s-feedback .wedocs-feedback-wrap {
    flex-direction: row; } }
.s-feedback .wedocs-feedback-wrap::before, .s-feedback .wedocs-feedback-wrap::after {
  content: unset !important; }
@media (min-width: 48em) {
  .s-feedback .wedocs-feedback-wrap {
    padding: 1.5rem 1.25rem; } }
@media (min-width: 80em) {
  .s-feedback .wedocs-feedback-wrap {
    padding: 2.25rem 2rem;
    font-size: 1rem; } }
.s-feedback .wedocs-feedback-wrap .vote-link-wrap {
  margin-top: 0;
  display: flex;
  margin-left: 0;
  margin-right: 0; }
@media screen and (min-width: 359px) {
  .s-feedback .wedocs-feedback-wrap {
    font-size: 0.875rem; } }
@media screen and (min-width: 415px) {
  .s-feedback .wedocs-feedback-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

.s-feedback .vote-link-wrap {
  margin-right: 0; }
@media screen and (min-width: 415px) {
  .s-feedback .vote-link-wrap {
    margin-right: 10px; } }

.s-feedback a.wedocs-tip {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  padding: 0;
  position: relative; }
.s-feedback a.wedocs-tip svg, .s-feedback a.wedocs-tip svg * {
  transition: 0.15s; }
.s-feedback a.wedocs-tip:hover {
  border: none;
  background-color: transparent; }
.s-feedback a.wedocs-tip:hover svg .shape {
  stroke: var(--knowpress-primary-color); }
.s-feedback a.wedocs-tip:hover svg .eye {
  fill: var(--knowpress-primary-color); }
.s-feedback a.wedocs-tip .count {
  position: absolute;
  background-color: var(--knowpress-primary-color);
  right: 50%;
  transform: translateX(50%);
  bottom: -100%;
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  margin: 0;
  width: auto;
  height: auto;
  color: #fff; }
.s-feedback a.wedocs-tip .count::before {
  content: '';
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid var(--knowpress-primary-color);
  position: absolute;
  top: -5px;
  right: 50%;
  transform: translateX(50%); }

.c-docs-nav__title {
  margin: 0 0 1.5rem; }

.c-docs-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 13.4375rem; }

.s-docs-nav-list > li.current_page_item a {
  color: var(--knowpress-secondary-text-color); }

.s-docs-nav-list > li a:hover {
  color: var(--knowpress-primary-color); }

.s-docs-nav-list li {
  background-color: var(--knowpress-sidebar-color);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-bottom: 2rem;
  position: relative; }
.s-docs-nav-list li.current_page_ancestor ul {
  display: block; }
.s-docs-nav-list li a {
  color: var(--knowpress-primary-text-color);
  text-decoration: none;
  border-radius: 4px; }
.s-docs-nav-list li button {
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  padding-left: 0.375rem; }
.s-docs-nav-list li button.is-active span {
  transform-origin: center center;
  transform: rotate(-180deg); }
.s-docs-nav-list li button span {
  transition: 0.15s; }
.s-docs-nav-list li button:hover span {
  border-top-color: var(--knowpress-primary-color); }

.s-docs-nav-list ul .item__header:hover > button .o-arrow {
  border-top-color: #fff; }

.s-docs-nav-list ul > li > .item__header button:hover > .o-arrow {
  border-top-color: var(--knowpress-primary-color) !important; }

.s-docs-nav-list ul.children li button {
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 1.5rem;
  height: 2rem;
  padding-left: 0.375rem; }

.s-docs-nav-list ul {
  padding: 0;
  margin: 0.75rem 0 0;
  list-style: none; }

.s-docs-nav-list ul.children {
  display: none; }
.s-docs-nav-list ul.children ul.children {
  padding-right: 0.5rem; }

.s-docs-nav-list ul li {
  font-weight: normal;
  margin: 0 0 0.25rem; }
.s-docs-nav-list ul li.current_page_item > a {
  background-color: var(--knowpress-border-color); }
.s-docs-nav-list ul li a {
  padding: 0.5rem 1rem 0.5rem 1.375rem;
  display: block; }
.s-docs-nav-list ul li a:hover {
  background-color: var(--knowpress-primary-color);
  color: #fff; }

.c-child-articles {
  background-color: var(--knowpress-card-bg-color);
  border-right: 3px solid var(--knowpress-primary-color);
  padding: 1rem; }
@media (min-width: 48em) {
  .c-child-articles {
    padding: 1.5rem; } }
@media (min-width: 64em) {
  .c-child-articles {
    padding: 2rem 2rem 1.5rem 1.5rem; } }

.c-child-articles__title {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--knowpress-secondary-text-color);
  margin: 0 0 1rem;
  text-transform: uppercase; }

.c-child-articles__list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap; }

.s-child-articles-list li {
  width: 100%;
  margin-bottom: 0.5rem; }
@media (min-width: 36em) {
  .s-child-articles-list li {
    width: 50%; } }
.s-child-articles-list li ul {
  padding-right: 1rem;
  margin: 0.5rem 0 0; }
.s-child-articles-list li li {
  width: 100%; }
.s-child-articles-list li a {
  color: var(--knowpress-primary-text-color);
  text-decoration: none; }
.s-child-articles-list li a:hover {
  color: var(--knowpress-primary-color); }

@media (min-width: 64em) and (max-width: 79.99em) {
  .c-footer {
    transform: translateX(-20%); } }

.c-footer__widgets {
  margin-top: 3rem; }
@media (min-width: 48em) {
  .c-footer__widgets {
    display: flex; } }

.c-footer__info {
  font-size: 0.875rem;
  color: var(--knowpress-primary-text-color);
  padding: 1.25rem 0; }

.s-credit a {
  color: var(--knowpress-primary-text-color); }
.s-credit a:hover {
  color: var(--knowpress-primary-color); }

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }
.screen-reader-text:focus {
  background-color: #F1F1F1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759B;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0; }

/* Alignments
--------------------------------------------- */
.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em; }

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
  font: 16px/1.5 "Inter";
  color: var(--knowpress-primary-text-color); }
@media (min-width: 48em) {
  html {
    font: 16px/1.5 "Inter"; } }
@media (min-width: 64em) {
  html {
    font: 16px/1.5 "Inter"; } }
@media screen and (min-width: 1920px) {
  html {
    font: 18px/1.5 "Inter"; } }

h1 {
  font-weight: 600;
  font-size: 1.8125rem;
  line-height: 2.6875rem; }

h2 {
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 2.1875rem; }

h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem; }

h4 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem; }

h5 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem; }

h6 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3125rem; }

a {
  transition: 0.15s;
  color: var(--knowpress-primary-color); }
a:hover {
  color: var(--knowpress-primary-text-color); }

input, textarea {
  padding: 0.75rem 0.75rem;
  border-radius: 0.25rem;
  transition: 0.15s;
  border: 1px solid var(--knowpress-border-color); }

button, [type="submit"] {
  padding: 0.75rem 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--knowpress-primary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.15s; }
button:hover, [type="submit"]:hover {
  background-color: var(--knowpress-primary-text-color); }

img {
  width: auto;
  height: auto;
  max-width: 100%; }

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
p.is-style-message {
  padding: 1.25rem;
  background-color: var(--knowpress-message-bg-color);
  border-right: 4px solid var(--knowpress-message-border-color); }

p.is-style-message-warning {
  padding: 1.25rem;
  background-color: var(--knowpress-warning-bg-color);
  border-right: 4px solid var(--knowpress-warning-border-color); }

p.is-style-message-danger {
  padding: 1.25rem;
  background-color: var(--knowpress-danger-bg-color);
  border-right: 4px solid var(--knowpress-danger-border-color); }

ul.is-style-two-col, ol.is-style-two-col {
  padding: 16px 32px 4px 16px;
  background-color: var(--knowpress-list-bg-color);
  border-right: 4px solid var(--knowpress-list-border-color);
  display: flex;
  flex-wrap: wrap; }
@media screen and (min-width: 567px) {
  ul.is-style-two-col, ol.is-style-two-col {
    padding: 30px 40px 18px 30px; } }
ul.is-style-two-col li, ol.is-style-two-col li {
  width: 100%;
  padding-left: 0;
  margin-bottom: 0.75rem; }
@media (min-width: 64em) {
  ul.is-style-two-col li, ol.is-style-two-col li {
    width: calc(50% - 10px);
    padding-left: 10px;
    margin-bottom: 0.75rem; } }

.wp-block-quote {
  margin: 2rem 0;
  padding: 0 1.25rem 0 0;
  border-right: 4px solid var(--knowpress-primary-text-color); }

.wp-block-image {
  margin: 1.25rem 0; }
