$knowpress_primary_color: var(--knowpress-primary-color);
$knowpress_primary_text_color: var(--knowpress-primary-text-color);
$knowpress_secondary_text_color: var(--knowpress-secondary-text-color);
$knowpress_sidebar_color: var(--knowpress-sidebar-color);
$knowpress_border_color: var(--knowpress-border-color);
$knowpress_card_bg_color: var(--knowpress-card-bg-color);

$knowpress_message_bg: var(--knowpress-message-bg-color);
$knowpress_message_border: var(--knowpress-message-border-color);

$knowpress_warning_message_bg: var(--knowpress-warning-bg-color);
$knowpress_warning_message_border: var(--knowpress-warning-border-color);

$knowpress_danger_message_bg: var(--knowpress-danger-bg-color);
$knowpress_danger_message_border: var(--knowpress-danger-border-color);

$knowpress_list_bg: var(--knowpress-list-bg-color);
$knowpress_list_border: var(--knowpress-list-border-color);


$knowpress_default_font-family: 'Inter';

$knowpress_global_transition: 0.15s;
