.o-arrow, .wedocs-caret {
  width: 0;
  height: 0;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-top: 0.25rem solid $knowpress_primary_text_color;
  z-index: 3;
  transform: translateY(0px);
}

